<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
  </head>
  <!-- As a link -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href={{ path("accueil") }}>Accueil</a>
    <a class="nav-link" href={{ path("vente") }}>Vente</a>
    <a class="nav-link" href={{ path("blog") }}>Blog</a>
    <a class="nav-link" href={{ path("inscription") }}>Inscription</a>
    <a class="nav-link" href={{ path("connexion") }}>Connexion</a>
  </nav>
  <body class="container">
    {% block body %} {% endblock %} {% block javascripts %}{% endblock %}
  </body>
</html>
